.block {
    height: 200px;
    width: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-size: 30px;
    
}

.hovered {
    background-color: green;
    transform: scale(1.05);
}